* {
    margin: 0;
    padding: 0;
    font-family: sansserif;
}

.table{
    margin: 20px 20%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 0px 2px 2px;
}

#table{
    width: 100%;
    background-color: white;
}

.table td{
    border: black thin solid;
}

h1{
    text-align: center;
    color: red;
}

#bigs{
    text-align: center;
    width: 22%;
    padding-bottom: 24px;
    color: red;
}

.table th{
    background-color: c0c0c0;
    text-align: left;
}

#r3{
    vertical-align: middle;
}
a{
    color: red;
}
#join{
    text-align: center;
}

header{
    text-align: center;
}